h1 {
  font-size: 32px;
  font-weight: 500;
  font-family: "IBM Plex Sans", sans-serif;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "GT America", sans-serif;
}

h3 {
font-size: 24px;
font-weight: 700;
font-family: "GT America", sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  font-family: "GT America", sans-serif;
  }

h5 {
  font-size: 16px;
  font-weight: 500;
  font-family: "GT America", sans-serif;
}

p {
  font-size: 16px;
  font-weight: 400;
  font-family: "GT America", sans-serif;
}