h1 {
  font-size:20px;
  font-family: "GT America", sans-serif; 
}

h2 {
  font-size: 18px;
  font-family: "GT America", sans-serif; 

}

h3 {
font-size: 16px;
 font-family: "GT America", sans-serif; 
}

p {
  font-size: 16px;
  font-family: "GT America", sans-serif; 
}